.card-container
{
    border-radius: 16px;
    border: 1px solid transparent;
}

.card-container:hover
{
    background-color: rgba(189, 189, 189, 0.575);
    border: 1px solid black;
}

.card-image
{
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.hide
{
    display: none;
}